.color-grad{
  background-image: linear-gradient(to right, #46bdf4 0%, #2b56f5 100%);
}

.color-gradx{
  background-image: linear-gradient(to right, #2b56f5 0%, #46bdf4 100%);
}

.color-border{
  border-color: linear-gradient(to right, #46bdf4 0%, #2b56f5 100%);
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
}

.white{
  color: white;
}

.color-dark-shapromine{
  background-color: #0C0D23;
}

td 
{
    height: 50px !important; 
    width: 50px !important;
}

#cssTable td 
{
    text-align: center!important; 
    vertical-align: middle !important;
}
